{% extends "AppBundle:Frontend/Layout:Skeleton.html.twig" %}

{% block container %}

	<div class="container">
		<div class="row">
			<div class="col-md-3">
				{{ widget("frontend.languageCurrencySwitcher") }}
			</div>
		</div>
	</div>

	<div class="container-fluid" id="home-header">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<div id="home-search">
						<h2 class="text-center">Vyhledej jízdenky po celé Evropě</h2>
						{{ widget("frontend.searchForm", { type: "home" }) }}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 30px">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<div class="homebox">
							<h3>{{ 'homepage.claim.title'|trans }}</h3>
							<p style="font-size: 19px">{{ 'homepage.claim.subtitle1'|trans }} <span style="margin: 0 18px; text-align: center">|</span> {{ 'homepage.claim.subtitle2'|trans }} <span style="margin: 0 18px; text-align: center">|</span> {{ 'homepage.claim.subtitle3'|trans }}</p>
						</div>
						<h2>Vaše cesta autobusem po Evropě</h2>
						{% for country in countries %}
							<h3>{{ country.country.name|language }}</h3>
							<div class="row">
								{% for city in country.cities %}
									<a href="{{ path("seo_timetables", { from: city.fromSlug, to: city.toSlug }) }}">
										<div class="col-md-4">
											<div class="panel panel-default">
												<div class="panel-body">
													{{ city.city.name|language }}
												</div>
											</div>
										</div>
									</a>
								{% endfor %}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-4">
                {{ widget("frontend.contactBox") }}
			</div>
		</div>
		<br><br>
	</div>


{% endblock %}
